<div>
    <bc-playground-lite
    {% if "blocks" in enabled %}
				blocks="true"
		{% endif %}
    {% if "authorizer" in enabled %}
				authorizer="true"
		{% endif %}
    {% if "add_block" in enabled %}
				add_block="true"
		{% endif %}
    {% if "token" in enabled %}
				token="true"
		{% endif %}
    {% if "result" in enabled %}
				result="true"
		{% endif %}
    {% if "facts" in enabled %}
				facts="true"
		{% endif %}
    {% if "custom_external" in enabled %}
				custom_external="true"
		{% endif %}
    {% if "public_key" in enabled %}
				public_key="true"
		{% endif %}
    {% if "third_party" in enabled %}
				third_party="true"
		{% endif %}
    >
    {{ body | safe }}
</bc-playground-lite>
</body>
</div>
